.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#homepageCards {
  margin: 1rem;
  width: 300px !important;
}
.formHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.reports-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.reports-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
